=roundCorners(!radius = 1px)
  -webkit-border-radius= !radius
  -moz-border-radius= !radius
  border-radius= !radius

=boxShadow(!x = 0px, !y = 3px, !blur = 6px, !colour = #222)
  -webkit-box-shadow= !x !y !blur !colour
  -moz-box-shadow= !x !y !blur !colour

=rotate(!angle = -4deg)
  -webkit-transform= rotate(!angle)
  -moz-transform= rotate(!angle)

=backgroundGradient(!colour1 = #FF00D4, !colour2 = #D801B4)
  background= !colour1
  background= -webkit-gradient(linear, left bottom, left top, color-stop(0.25, !colour2), color-stop(0.76, !colour1))

body
  margin: 0
  padding: 0
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial'
  background-image: url('../images/wood.jpg') 
  background-repeat: repeat-both
  font-size: 62.5%

  #actionsContainer
    position: absolute
    top: 0px
    left: 0px
  
    a.addNote
      +roundCorners
      +boxShadow
      +rotate
      text-align: center
      font-weight: bold
      padding: 3px 5px
      font-size: 1.6em
      text-decoration: none
      display: block
      padding: 25px 5px 5px
      vertical-align: middle
      float: left
      margin: -5px 10px 0px
      color: black
      width: 1em

  #currentBoard
    position: absolute
    top: 20px
    right: 20px

    h1
      +roundCorners
      +boxShadow
      +rotate(2deg)
      +backgroundGradient(rgb(247,242,104), rgb(247,244,143))
      padding: 10px
      font-size: 1.6em

  #notesContainer
    margin: 0 auto
    position: relative
    width: 98%
    height: 90%
    margin-top: 4%
          
    .note
      +boxShadow
      +rotate(-1deg)
      position: absolute
      left: 40px
      top: 40px
      min-width: 10em
      min-height: 4em
      font-family: 'Bradley Hand ITC TT'
      font-style: italic
      font-size: 1.8em
      padding: 25px 5px 7px
      vertical-align: middle
      cursor: move
      margin: 10px
        
      textarea.textedit
        background: none
        font-family: 'Bradley Hand ITC TT'
        font-style: italic
        font-size: 1.2em
        width: 8em
        height: 4em
        border: none
        text-align: center
      
      textarea.textedit:focus
        outline: none
      
      .delete
        +roundCorners
        color: red
        display: block
        position: absolute
        top: 0px
        right: 3px
        cursor: pointer
    
.postit
  +backgroundGradient(rgb(247,242,104), rgb(247,244,143))

.purple
  +backgroundGradient(#FF00D4, #D801B4)
  
.green
  +backgroundGradient(#61BD00, #57A800)
      
.orange
  +backgroundGradient(#FF9200, #EA8600)
  
.yellow
  +backgroundGradient(#F7FF00, #E2EA00)
